@import 'styles/variables';
@import 'components/common/button/Button.module.scss';

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.historyControls {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.historyControlsButton {
  @extend .button;
  height: 16px;
  width: 16px;
  color: $text2-color;

  &:hover {
    background-color: $line-color;
    color: $text2-color;
  }
}

.historyBreadcrumbs {
  margin: 5px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-end;
}

.miscControls {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-end;
}

.button {
  @extend .buttonBase;
}
