.header1 {
  div {
    font-size: 2em;
    font-weight: bold;
  }
}

.header2 {
  div {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.header3 {
  div {
    font-size: 1.17em;
    font-weight: bold;
  }
}

.text {
  div {
  }
}

.quote {
  font-size: 1.2em;
  color: inherit;
  fill: inherit;
  display: flex;

  div {
    margin: 3px 2px;
    font-size: 1.2em;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    border-left: 3px solid currentcolor;
    padding-left: 0.9em;
    padding-right: 0.9em;
    width: 100%;
  }
}

.callout {
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.3);

  div {
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    margin: 16px 24px 16px 24px;
    color: rgb(55, 53, 47);
    -webkit-text-fill-color: rgba(55, 53, 47, 0.4);
    width: 100%;
  }
}

.code {
  flex-grow: 1;
  border-radius: 3px;
  text-align: left;
  position: relative;
  background: rgb(247, 246, 243);
  min-width: 0px;

  div {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 85%;
    tab-size: 2;
    padding: 34px 32px 32px 32px;
    color: rgb(55, 53, 47);
    word-break: break-word;
    white-space: pre-wrap;
  }
}

.debug {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  color: grey;
}
