$primary: #eaedf7;
$primary-highlight: #dce0ec; // #fbfbfb
$primary-text-color: rgb(55, 53, 47);
$line-color: #ececec;
$background-color: #fff;
$text1-color: #3b3b3b;
$text2-color: #7c7c7c;
$border-color: rgba(15, 15, 15, 0.1);
$controls-color: #c0c0be;
$label-color: #7c7c7c;

$accept-color: $primary-text-color;
$accept-text-color: white;

$accept-hover-color: $text2-color;
$accept-hover-text-color: white;

$decline-color: $line-color;
$decline-text-color: $primary-text-color;

$decline-hover-color: $text2-color;
$decline-hover-text-color: white;

$sidebar-width: 300px;
$navbar-width: 55px;
$navbar-background-color: #4a5472;

$tooltip-color: #292929;

$input-background: #f9f9f9;
$nav-line-color: #565656;
$box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
$box-shadow-large: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

$error-text-color: #c76363;
$warning-text-color: orange;
