@import 'styles/variables';
@import 'components/common/option-controls/OptionControls.module.scss';

.container {
  @extend .defaultContainer;
  max-height: 80vh;
}

.bar {
  border-radius: 3px;
  color: white;
  fill: white;
  font-size: 11.5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
}

.bar .option {
  padding: 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-right: 0.5px solid grey;
}

.icon {
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

.more {
  padding: 5px 5px 5px 5px;
  width: 100%;
  cursor: pointer;
  color: white;
}

.moreIcon {
  margin-top: 3px;
  color: white;
  fill: white;
  z-index: 5;
}
