$primary: #eaedf7;
$primary-highlight: #fbfbfb;
$primary-text-color: rgb(55, 53, 47);
$line-color: #ececec;
$background-color: #fff;
$text1-color: #3b3b3b;
$text2-color: #7c7c7c;
$border-color: rgba(15, 15, 15, 0.1);
$controls-color: #c0c0be;
