body {
  background-color: #f7f7f7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SF UI Display';
  font-size: 14px;
}

button {
  background: none;
  border: none;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
