@import 'styles/variables';

// TODO: Needs stripping of admin css vs compiled css

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: auto;
}

* {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiSwitch-track {
  background-color: $text1-color !important;
}

.Mui-checked {
  color: $text2-color !important;
}

.MuiLinearProgress-indeterminate {
  background-color: $primary-highlight !important;
}

.MuiLinearProgress-bar1Indeterminate {
  background-color: white !important;
}

.MuiLinearProgress-bar2Indeterminate {
  background-color: $border-color !important;
}

.MuiLink-root {
  color: $text1-color !important;
  cursor: pointer;
}

.code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
  font-weight: 600;
}
