@import 'styles/variables';
@import 'components/common/button/Button.module.scss';

.block {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 1300px) {
    margin: 0 50px;
  }
}

.controls {
  position: absolute;
  left: -45px;
  top: 0px;
  display: flex;
  align-items: center;
}

.controlsInner {
  display: flex;
  flex-direction: row;
}

.add {
  fill: $controls-color;
  width: 14px;
  height: 14px;
}

.drag {
  fill: $controls-color;
}

.addButton {
  @extend .buttonBase;
  cursor: pointer;
  padding: 2px;
}

.grabButton {
  @extend .buttonBase;
  cursor: grab;
  padding: 2px;

  &:hover {
    background-color: transparent;
  }
}
