@import 'styles/variables';

.tooltip {
  background-color: $tooltip-color;
  padding: 4px 8px !important;
  color: #fff;
  font-size: 11px !important;
  box-shadow: $box-shadow;
  font-weight: 300;
}
