@import 'styles/variables';
@import 'components/common/text-input/TextInput.module.scss';

.container {
  background-color: $primary;
  padding: 12px 36px 12px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $primary-highlight;
  }
}

.progress {
  position: absolute;
  bottom: 3px;
  left: 300px;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  height: 20px;
  align-items: center;
}

.linkInput {
  align-items: center;
  @extend .textInputContainer;
  display: flex;
  width: 100%;
  padding: 3px 6px;
  cursor: text;
  height: 28px;
  font-size: 14px;
}

.imageContainer {
  width: 600px;
  height: 400px;
  margin: 0 auto;

  &:hover > .mediaControls {
    display: block;
  }
}

.mediaControls {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  &:hover {
    display: flex;
  }
}

.box {
  flex-direction: column;
}

.icon {
  margin-right: 12px;
  fill: $text2-color;
}

.image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.text {
  font-size: 14px;
  color: $text2-color;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
