@import 'styles/variables';

.container {
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: $tooltip-color;
  font-size: 12px;
  color: $controls-color;
  -webkit-app-region: drag;
  user-select: none;
}
