@import 'styles/variables';
@import 'components/common/TextInput.module.scss';

.container {
  border-radius: 3px;
  background: white;
  position: absolute;
  z-index: 1;
  box-shadow: $box-shadow-large;
  overflow: hidden;
  width: 330px;
}

.inputContainer {
  display: flex;
  flex-direction: row;

  margin-left: 14px;
  margin-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.textInput {
  @extend .borderedTextInput;
}
