@import 'styles/variables';

.container {
  width: $sidebar-width;
  height: 100%;
  background-color: $primary;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: $text2-color;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: $text2-color;
  user-select: none;
  cursor: pointer;

  .itemControls {
    visibility: hidden;
  }

  &:hover {
    background-color: #fbfcff;
    color: $text2-color;

    .itemControls {
      visibility: visible;
    }
  }
}

.itemSelected {
  @extend .item;
  background-color: #fafbff;
  color: $text2-color;
}

ul.projectMenu {
  @extend .menu;

  li {
    @extend .item;
    justify-content: flex-start;
    padding-left: 22px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

.itemMainText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex: 1;
  line-height: 22px;
}
.itemMain {
  display: flex;
  flex-direction: row;
}

.itemControls {
  display: flex;
  flex-direction: flex-end;
}

.itemAddButtonIcon {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemControlsButton {
  @extend .itemAddButtonIcon;

  &:hover {
    background-color: rgba($text2-color, 0.2);
    color: $background-color;
  }
}

.titleEmptyLogo {
  margin-right: 12px;
  background-color: $text1-color;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  font-weight: 600;
  text-align: center;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  line-height: 22px;
}

.label {
  font-size: 10px;
  color: $label-color;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
  user-select: none;
}

.scrollable {
  flex: 1;
}
