@import 'styles/variables';

.buttonBase {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  align-self: flex-start;
  color: $text2-color;

  &:hover {
    background-color: $line-color;
    color: $text2-color;
  }
}
