@import 'styles/variables';

.container {
  background-color: $primary;
  padding: 12px 36px 12px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $primary-highlight;
  }
}

.progress {
  position: 'absolute';
  bottom: 3;
  left: 300;
  display: 'flex';
  flex-direction: 'row';
  background-color: 'black';
  color: 'white';
}

.imageContainer {
}

.icon {
  margin-right: 12px;
  fill: $text2-color;
}

.image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.text {
  font-size: 14px;
  color: $text2-color;
}
