@import 'styles/variables';
@import 'components/common/button/Button.module.scss';

.historyBreadcrumbs {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
}

.button {
  @extend .buttonBase;
  color: $text2-color;
}
