.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
}
.full-page-image {
  width: 100%; // TBD: Use natural width and height of image?
  height: 100%;
}
